#ember-app-dblist-ember {
  .database {
    border-bottom: 1px solid #ccc;
  }

  .more-info {

  }

  .number-showed {
    margin-top:30px;
  }

  .availability {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .subjects {
    line-height:24px;
  }

  .more-info {
    a:link, a:visited {
      text-decoration: none;
    }
    a[aria-expanded="true"]::after {
      content: ' \f077';
      font-family: FontAwesome;
      color: #000;
    }
    a[aria-expanded="false"]::after {
      content: ' \f078';
      font-family: FontAwesome;
      color: #000;
    }
  }
}
